<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card p-0">
                    <div class="stat-widget-three">
                        <div class="stat-icon bg-primary">
                            <i class="ti-stats-up"></i>
                        </div>
                        <div class="stat-content">
                            <div class="stat-digit">SME Registeration Link</div>
                            <div class="stat-text"><a href="/sme">www.jvmc.com/sme</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card p-0">
                    <div class="stat-widget-three">
                        <div class="stat-icon bg-primary">
                            <i class="ti-stats-up"></i>
                        </div>
                        <div class="stat-content">
                            <div class="stat-digit">Trainee Link</div>
                            <div class="stat-text">New User</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>





